.cart_text {
    display: flex;
    text-align: center;
    padding: 20px 0px;
}

.button_cart {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.cart {
    min-height: 400px;
}