.contact {
    min-height: calc(100vh - 150px);
}

.info {
    padding: 15px;
    font-size: 25px;
} 

.info a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.dropdown-item {
    display: flex;
    justify-content: center;
}